<div class="cadaBirra">
    <div class="imgRnd">
        <img src="{{this.image_url}}" alt="Beer {{this.name}}">
    </div>
    <div class="ndiv">
        <h1>{{this.name}}</h1>
        <h3>{{this.tagline}}</h3>
        <p>{{this.description}}</p>
    </div>
</div>

